#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install emu-tools
Exec=curl https://raw.githubusercontent.com/srouquette/emu-tools/main/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
